﻿@model Service.Models.GameParams
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form action="/lobby/create" method="post">
        <label>Game name:</label>
        @Html.TextBoxFor(mdl => mdl.Name)
        <label>Players max:</label>
        <input type="radio" id="Players" name="Players" value="2" />2
        <input type="radio" id="Players" name="Players" value="4" />4
        <input type="submit" value="Create game" />
        </form>
</body>
</html>
