﻿@{
    ViewBag.Title = Res.home;
}

<div class="jumbotron">
    <h1>Gamed</h1>
    <p class="lead">@Res.welcome!</p>    
</div>

@if (User.Identity.IsAuthenticated)
{
    Response.Redirect("/lobby");
}
else
{
    <p>
        <a href="/account/login" class="btn btn-primary btn-lg">@Res.enter &raquo;</a>
        <a href="/account/register" class="btn btn-primary btn-lg">@Res.register &raquo;</a>
    </p>
}



